<section class="best-organic">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 left-side">
        <img src="../../../assets/images/about.jpg" />
      </div>
      <div class="col-lg-6 right-side">
        <h2>Best Organic Fruits And Vegetables</h2>

        <p>
          Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu
          diam amet diam et eos. Clita erat ipsum et lorem et sit, sed stet
          lorem sit clita duo justo magna dolore erat amet
        </p>
        <p>
          <img src="../../../assets/images/icons/done.svg" /> Tempor erat elitr
          rebum at clita
        </p>
        <p>
          <img src="../../../assets/images/icons/done.svg" /> Aliqu diam amet
          diam et eos
        </p>
        <p>
          <img src="../../../assets/images/icons/done.svg" /> Clita duo justo
          magna dolore erat amet
        </p>

        <button>Read more</button>
      </div>
    </div>
  </div>
</section>
