@import "../../../assets/styles/common.scss";
.latest-blog {
  padding: 100px 0;
  h2 {
    font-size: clamp(24px, 4vw, 48px);
    font-weight: 700;
    text-align: center;
    position: relative;
    padding: 20px 0;
    &::before {
      @include before-line;
    }
    &::after {
      @include after-line;
    }
  }
  p {
    color: $gray-color;
    text-align: center;
    margin-bottom: 32px;
  }
  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    .blog-card {
      width: 400px;
      background-color: #f7f8fc;
      .card-img {
        img {
          width: 100%;
        }
      }
      .card-body {
        h3 {
          font-size: 20px;
          font-weight: 600;
          margin-bottom: 32px;
          &:hover {
            color: $green-color;
          }
        }
        .down {
          display: flex;
          padding: 20px 0;
          border-top: 1px solid $gray-color;
          p {
            margin-bottom: 0;
            margin-right: 16px;
            font-size: 14px;
            font-family: $second-font;
            img {
              width: 20px;
              margin-right: 8px;
            }
          }
        }
      }
    }
  }
}
