<section class="home">
  <div class="container">
    <div class="col-lg-7">
      <p>Organic Food Is Good For Health</p>
      <button class="products rounded-pill py-3 px-5 ms-3 mb-3">
        Products
      </button>
      <button class="services rounded-pill py-3 px-5 ms-3">Services</button>
    </div>
  </div>
</section>
<app-best-organic></app-best-organic>
<app-our-features></app-our-features>
<app-our-products></app-our-products>
<app-visit-our-firm></app-visit-our-firm>
<app-latest-blog></app-latest-blog>
