<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mb-3 first">
        <a>F<span>oo</span>dy</a>
        <p>
          Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat
          ipsum et lorem et sit, sed stet lorem sit clita
        </p>
        <div class="icons">
          <div class="icon">
            <a href="#">
              <img src="../../../assets/images/icons/facebook.svg" />
            </a>
          </div>
          <div class="icon">
            <a href="#">
              <img src="../../../assets/images/icons/youtube.svg" />
            </a>
          </div>
          <div class="icon">
            <a href="#">
              <img src="../../../assets/images/icons/linkedin.svg" />
            </a>
          </div>
          <div class="icon">
            <a href="#">
              <img src="../../../assets/images/icons/twitter.svg" />
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 mb-3 second">
        <h5>Address</h5>
        <p>
          <img src="../../../assets/images/icons/location.png" /> 123 Street,
          New York, USA
        </p>
        <p>
          <img src="../../../assets/images/icons/phone.png" /> +012 345 67890
        </p>
        <p>
          <img src="../../../assets/images/icons/envelope.png" />
          info@example.com
        </p>
      </div>
      <div class="col-lg-3 mb-3 third">
        <h5>Quick Links</h5>
        <p>
          <img src="../../../assets/images/icons/right-arrow.png" />About Us
        </p>
        <p>
          <img src="../../../assets/images/icons/right-arrow.png" />Contact Us
        </p>
        <p>
          <img src="../../../assets/images/icons/right-arrow.png" />Our Services
        </p>
        <p>
          <img src="../../../assets/images/icons/right-arrow.png" />Term &
          Condition
        </p>
        <p><img src="../../../assets/images/icons/right-arrow.png" />Support</p>
      </div>
      <div class="col-lg-3 mb-3 fourth">
        <h5>Newsletter</h5>
        <p>Dolor amet sit justo amet elitr clita ipsum elitr est.</p>
        <div class="input-field">
          <input type="email" placeholder="Your email" /><button>SignUp</button>
        </div>
      </div>
    </div>

    <div class="down-said">
      <p>© Foody, All Right Reserved.developed by Rahaf Douair </p>
    </div>
  </div>
</footer>
